* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: #333;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.music-player {
  background: rgb(77, 19, 5);
  background: linear-gradient(
    90deg,
    rgba(77, 19, 5, 1) 0%,
    rgba(148, 12, 28, 0.8941244821065799) 42%,
    rgba(97, 97, 97, 1) 97%
  );
  width: 400px;
  padding: 25px 35px;
  text-align: center;
}

.music-player .fire {
  position: absolute;
  font-size: 40px;
  color: red;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

nav .circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #7e191b;
  box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

.song-img {
  width: 220px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.music-player h1 {
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin-top: 20px;
}

.music-player p {
  font-size: 14px;
  color: black;
}

#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #7e191b;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #7e191b;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls div {
  width: 60px;
  height: 60px;
  margin: 20px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #7e191b;
  box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
  cursor: pointer;
}

.controls div:nth-child(2) {
  transform: scale(1.5);
  background: #7e191b;
  color: #fff;
}

.music-player.active {
  animation: animate 0.8s linear forwards;
}

@keyframes animate {
  30% {
    opacity: 1;
    font-size: 80px;
  }
  50% {
    opacity: 1;
    font-size: 60px;
  }

  70% {
    opacity: 1;
    font-size: 70px;
  }
  80% {
    opacity: 1;
    font-size: 60px;
  }
  90% {
    opacity: 1;
    font-size: 60px;
  }
}
